<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mind Tools</title>
    <link rel="stylesheet" href="/src/styles/global.css" />
  </head>
  <main>
    <slot />
  </main>
</html>
